body{
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

*{
  font-family: sans-serif;
}

ul {
  display: inline;
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-radius: 25px;
  border-color:black;
}

li{
  display: inline;
  background-color: black;
}

img {
  max-width: 100%; height: auto;
}

#logo{
  position: absolute;
  left: 42%;
  top: 10%;
}

#home{
  height: 1000px;
  background-image: url("zelda.jpg");
  background-size: cover; 
}

#history{
  height: 1000px;
  background-image: url("history.jpg");
  background-size: cover; 
}

#botw{
  height: 1000px;
  background-image: url("botw.jpg");
  background-size: cover; 
 }

#skyward{
  height: 1000px;
  background-image: url("skyward1.jpg");
  background-size: cover; 
}

#twilight{
  height: 1000px;
  background-image: url("twilight.jpg");
    background-size: cover;
  }

#windwaker{
  height: 1000px;
  background-image: url("windwaker.jpg");
  background-size: cover;
}

#majora{
  height: 1000px;
  background-image: url("majora.jpg");
  background-size: cover; 
}

#ocarina{
  height: 1000px;
  background-image: url("ocarina.jpg");
  background-size: cover; 
}

#past{
  height: 1000px;
  background-image: url("past.jpg");
  background-size: cover; 
}

#original{
  height: 1000px;
  background-image: url("original.jpg");
  background-size: cover; 
}

#sign-up{
    text-align: center;
}

#main-nav {
  padding: 5px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
}

nav a {
  color: gold;
  text-decoration: none;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

a:active {
  color: blue;
}

nav a.active {
  color: #1e1e1e;
  background: white;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

/* added section styles and class for scrolling */
section {
  height: 100vh;
}

.scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
